{% extends 'base/base_html.html' %}

{% block head %}
    <title>Departments</title>
{% endblock head %}

{% block content %}
<div class="w-50 ml-auto mr-auto">
    <h4>All Departments</h4><br>
<div class="">
    {% for department in page_obj %}
        <h5><a href="/department/{{department.id}}">{{ department.name }}</a> </h5>
        <p class="mb-1">{{ department.description }}</p>
        <hr>
    {% empty %}
        <p class="mb-1">No Department</p>
    {% endfor %}

</div>
<div class="pagination mx-1">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="mx-1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="mx-1">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="mx-1">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="mx-1">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
<br>

{% endblock content %}

{% block js %}

{% endblock js %}