{% extends 'base/base_html.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <title>Login</title>
{% endblock head %}

{% block content %}
    <div class="w-50 ml-auto mr-auto">
        <h4>Signup</h4>
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ signup_form|crispy }}
            <button class="btn btn-primary" type="submit">Create user</button>
        </form>

    </div>
<br>
{% endblock content %}

{% block js %}
    <script>
        $("input").addClass('form-control')
        $("#id_department").addClass('form-control')
        $("#id_role").addClass('form-control')

    </script>
{% endblock js %}