{% extends 'base/base_html.html' %}
{% load account_template_tags %}

{% block head %}
    <title>{{object.subject}}</title>
{% endblock head %}

{% block content %}
    <div class="container text-center">
        <h4>Ticket detail</h4>
        <div>
            <span class="font-weight-bold">#{{object.zendesk_ticket_id}}</span> {{object.subject}}
            <br>
            {{object.priority}} Priority, {{object.created_at|timesince}} ago
            <br>
        </div>
        <br>
        {% is_admin request.user.role as admin_access %}
        {% if admin_access %}
            <p><a class="btn btn-danger btn-sm" href="/ticket/{{object.id}}/delete">Delete Ticket</a> </p>
        {% endif %}

        <div class="text-secondary">
            <span>--- Data from Zendesk ---</span>
            <table class="table table-striped">
                {% for key, value in zendesk_data.ticket.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
    </div>
{% endblock content %}

